<button mat-button [matMenuTriggerFor]="aboveMenu">Goals</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Add Goal</button>
  <button mat-menu-item routerLink="/goals">Goal List</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">User</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Sign Up</button>
  <button mat-menu-item>Login</button>
</mat-menu>


<button mat-button routerLink="">Home</button>

<router-outlet></router-outlet>