.addgoal-component {
    background-color: #1582ad9f;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 35px;
}
<<<<<<< HEAD
.errors {
=======
/* .errors {
>>>>>>> aff5fe5ec3dfff3496a7f6b6c94de49c8aea56d5
  display: flex;
  justify-content: center;
  flex-direction: column;

<<<<<<< HEAD
}
=======
} */
>>>>>>> aff5fe5ec3dfff3496a7f6b6c94de49c8aea56d5
