.addgoal-component {
    background-color: #1582ad9f;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 35px;
}
/* .errors {
  display: flex;
  justify-content: center;
  flex-direction: column;

} */