<h2>Edit Goal</h2>
<form *ngIf="currentGoal">    
    <!-- <label>Goal Id:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="number"
      [(ngModel)]="currentGoal.goalId"
      name="goalId">
    </mat-form-field><br>

    <label>Email:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="text"
      [(ngModel)]="currentGoal.email"
      name="email">
    </mat-form-field><br> -->

    <label>Start Date:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="datetime-local"
      [(ngModel)]="currentGoal.startDate"
      name="startDate">
    </mat-form-field><br>

    <label>Target Date:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="datetime-local"
      [(ngModel)]="currentGoal.targetDate"
      name="targetDate">
    </mat-form-field><br>

    <label>Goal Name:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="text"
      [(ngModel)]="currentGoal.name"
      name="name">
    </mat-form-field><br>

    <label>Goal Description:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="text"
      [(ngModel)]="currentGoal.description"
      name="description">
    </mat-form-field><br> 
    
    <label>Current Savings:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="number"
      [(ngModel)]="currentGoal.currentSavings"
      name="currentSavings">
    </mat-form-field><br>

    <label>Target Savings:</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="number"
      [(ngModel)]="currentGoal.targetSavings"
      name="targetSavings">
    </mat-form-field><br>

    <label>Priority</label><br>
    <mat-form-field appearance="fill">
      <input matInput type="text"
      [(ngModel)]="currentGoal.priority"
      name="priority">
    </mat-form-field><br>

    
    
    <br><button (click)="updateGoal()" mat-raised-button color="primary">Update Goal</button>

</form>

<div *ngIf=submitted>
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newOrder()">Add Another</button>
</div>
