.nav-link {
  font-size: large;
  cursor: pointer;
}
 
.navbar-light .navbar-nav .nav-link.active {
  background: gainsboro
}
 
div.card-header {
 font-size: large;
}
 
div.card {
  margin-top: 10px
}
 
.table {
  margin-top: 10px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
