<div class="addgoal-component" style="width: 500px; margin: auto;"> 
<h3>Welcome to TrackBook a division of SpyGlass!<br> <br></h3>
  <h4>Let's get started!</h4> 

        <mat-form-field>
          <mat-label>Target Savings </mat-label>
          <input matInput placeholder="$0.00" [(ngModel)]="targetSavings" required>
        </mat-form-field>
  
    
        <mat-form-field >
        <mat-label for="targetDate">Target Date</mat-label>
        <input matInput 
          type="date"
          class="form-control"
          id="targetDate"
          required
          [(ngModel)]="targetDate"
          name="targetDate"
        />
        </mat-form-field>
      
        <!-- <div>
          <button mat-button >Home</button>
          <button mat-button >Next</button>
        </div> -->
    

   
      <h5>Savings Plan</h5>
      <!-- <div class="button-container" *ngIf="!monthPlan"> -->
        <button  mat-raised-button color="accent" (click)="monthlyPlan()">Suggested Monthly Savings</button><br><br>
        <!-- <button  mat-raised-button color="accent" (click)="calDate(targetDate,)">Suggested Monthly Savings</button><br><br> -->
        <!-- <button  mat-raised-button color="primary" (click)="biWeeklyPlan()">Bi Weekly Savings Plan</button><br><br> -->
        <div class="savings-plan-container" *ngIf="monthPlan">
          <p>Suggested Monthly Savings:</p>
          <P>
              Monthly Savings: {{monthlySavings | currency:'USD'}}
          </P>
         </div>
        
      
      <!-- <div class="savings-plan-container" *ngIf="biweekPlan">
        
        <p>Suggested Bi Weekly Savings Plan:</p>
        <P>
            BiWeekly Savings: {{biWeeklySavings | currency:'USD'}}
        </P>
       </div> -->
      
    
  
 
    <div>
      <button mat-raised-button color="primary" routerLink="/goals/newGoal">Set your Goals</button>
  </div>
  </div>
  
 